<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<div id="app">
    <h2 v-if="loged">Usuário Logado: {{ user }}</h2>
    <h2 v-else-if="anonymo">Logado como anônimo</h2>
    <h2 v-else="!loged">Sem usuário logado ...</h2>
    <p>
        <button @click="loged = !loged">{{ loged ? 'Sair':'Entrar' }}</button>
        <label for="">Usuário anônimo:</label>
        <input type="checkbox" v-model="anonymo">
    </p>

    <footer v-show="loged">
        <p>Feito Para você!</p>
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            user: 'Renan Lima',
            loged: false,
            anonymo: false,
        }
    })
</script>